@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as variables;

.search-modal {
    @include mixins.center;
    position: fixed;
    z-index: 10;
    inset: 0;
    padding: variables.$space-4;
    background: variables.$overlay;

    &__dialog {
        width: min(100%, 48rem);
        height: 90%;
        padding: variables.$space-3;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: variables.radius("xl");
        background: variables.$bg-secondary;
    }

    &__input-row {
        @include mixins.center($justifyContent: space-between);
        gap: variables.$space-2;
    }

    &__input {
        width: 100%;
        padding: variables.$space-3;
        border: 0;
        background: transparent;
        color: variables.$text-primary;
        font-size: variables.font-size("md");

        &::placeholder {
            color: variables.$text-tertiary;
        }

        &:focus {
            outline: none;
        }
    }

    &__close-button {
        @include mixins.center;
        padding: variables.$space-2;
        border: 0;
        border-radius: variables.radius("full");
        background: transparent;
        color: variables.$text-primary;
        cursor: pointer;

        &:hover {
            background: variables.$bg-hover-2;
        }
    }

    &__title {
        margin: variables.$space-4 variables.$space-2 variables.$space-2;
        color: variables.$text-secondary;
        font-size: variables.font-size("sm");
    }

    &__results {
        display: grid;
        flex: 1;
        min-height: 0;
        gap: variables.$space-1;
        overflow-y: auto;
    }

    &__result {
        @include mixins.center($justifyContent: flex-start);
        gap: variables.$space-3;
        width: 100%;
        padding: variables.$space-3;
        border: 0;
        border-radius: variables.radius("lg");
        background: transparent;
        color: variables.$text-primary;
        font-size: variables.font-size("base");
        text-align: left;
        cursor: pointer;

        &:hover {
            background: variables.$bg-hover-2;
        }
    }

    &__result-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
