@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as variables;
@use './sidebar-item';
@use './sidebar-footer';


.sidebar {

    background: variables.$bg-primary;
    width: variables.$sidebar-width;
    flex-shrink: 0;

    @include mixins.center($flexDirection: column, $alignItems: start, $justifyContent: flex-start);
    border-right: 1px solid variables.$border-subtle;
    transition: .25s ease;


    &--collapsed {
        width: variables.$sidebar-width-collapsed;
        align-items: center;

        .sidebar__scrollable-container {
            overflow-y: hidden;
        }


        .sidebar__logo,
        .sidebar__search-btn,
        .sidebar__main-action,
        .sidebar__group-title,
        .sidebar__chat-title,
        .sidebar__item-actions,
        .sidebar__nav,
        .sidebar__footer-details,
        .sidebar__footer-upgrade {
            display: none;
        }

        .sidebar__footer {
            justify-content: center;
        }

        .sidebar__header {
            flex-direction: column;
            padding: variables.$space-2;

        }



        .sidebar__compact-actions {
            display: flex;
        }


    }

    &__scrollable-container {
        padding: variables.$space-2;
        flex: 1;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        @include mixins.center($flexDirection: column, $alignItems: center, $justifyContent: flex-start);
        gap: variables.$space-3;

    }



    &__header {
        @include mixins.center($justifyContent: space-between);
        width: 100%;
        padding: variables.$space-2 variables.$space-4;

    }

    &__logo {
        font-size: variables.font-size("lg");
        font-weight: variables.font-weight("bold");
        color: variables.$text-primary;
    }

    &__header-actions {
        @include mixins.center;
    }

    &__compact-actions {
        @include mixins.center($flexDirection: column);
        display: none;
    }

    &__nav {
        @include mixins.center($flexDirection: column);

        width: 100%;
        gap: variables.$space-2;

    }

    &__group-header {
        @include mixins.center($justifyContent: space-between);
        padding: variables.$space-1 variables.$space-2;

        gap: variables.$space-2;


        &:hover .sidebar__group-header__actions,
        &:focus-within .sidebar__group-header__actions {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__group-toggle {
        @include mixins.center($justifyContent: flex-start);
        gap: variables.$space-1;
        width: 100%;
        border-radius: variables.radius('lg');
        border: 0;
        background: transparent;
        color: variables.$text-tertiary;
        cursor: pointer;





    }

    &__group-toggle-icon {
        @include mixins.center;
        transition: transform 0.2s ease;
    }
    
    &__group-header__actions {
        @include mixins.center;
        gap: variables.$space-2;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.15s ease;
    }
    
    &__group-action {
        @include mixins.center;
        padding: variables.$space-1;
        border: 0;
        border-radius: variables.radius("sm");
        background: transparent;
        color: variables.$text-tertiary;
        cursor: pointer;

        &:hover {

            color: variables.$text-primary;
        }



    }

    &__icon-btn {
        @include mixins.center;
        background: transparent;
        border: 0;
        color: variables.$text-primary;
        padding: variables.$space-2;
        border-radius: variables.radius("md");
        cursor: pointer;

        &:hover {
            background: variables.$bg-hover-1;

        }


    }

    &__mobile-close-btn {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    &__collapse-btn {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__compact-action {
        @include mixins.center;
        background: transparent;
        border: 0;
        color: variables.$text-primary;
        padding: variables.$space-2;
        border-radius: variables.radius("md");
        cursor: pointer;

        &:hover {
            background: variables.$bg-hover-1;
        }


    }



    &__main-action__btn {
        @include mixins.center($justifyContent: flex-start);
        @include mixins.sidebar-action;
        gap: variables.$space-2;
        background: variables.$bg-tertiary;
        border: 0;
        color: variables.$text-primary;

        &:hover {
            background: variables.$bg-hover-1;
        }
    }

    &__group {
        width: 100%;

        &--collapsed .sidebar__group-toggle-icon {
            transform: rotate(-90deg);
        }


    }

    &__group-title {
        color: currentColor;
        font-size: variables.font-size('sm');
        font-weight: variables.font-weight('medium');
    }

    &__list {
        @include mixins.center($flexDirection: column, $alignItems: start);
        gap: variables.$space-0;
        list-style: none;
        width: 100%;

        &[hidden] {
            display: none;
        }

    }


}

.sidebar-backdrop {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: fixed;
        z-index: 10;
        inset: 0;
        background: variables.$overlay;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease;

        &--visible {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: flex;
        position: fixed;
        z-index: 11;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);

        &--mobile-open {
            transform: translateX(0);
        }
    }
}
